.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #000000;

  .background-image {
    background-image: url('../../assets/pngs/background.png');
    width: 50%;
    background-position: center;

    img {
      object-fit: cover;
    }
  }

  .login-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-height: 100%;
    max-width: 500px;
    margin: auto;
    color: #fff;

    .greetings {
      font-size: 30px;
      line-height: 38px;
      margin: 25px 0 35px;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 439px;
    }
  }

  .remember-checkbox {
    color: #bdbdbd;
    line-height: 21px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10px;

    a {
      color: #bdbdbd;
      line-height: 21px;
      text-decoration: none;
      &:hover {
        color: #ffb800;
      }
    }
  }
}
